body {
  background-color: palegreen;
}

input {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 70%;
}

input[type=color] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

fieldset {
  padding: 20px 60px;
  border-radius: 60px;
  background-color: aqua;
}


legend {
  border: solid 2px blue;
  border-radius: 10px;
}


.meme {
  width: 600px;
  position: relative;

  margin: 60px, auto;

}

img {
/* FIX THIS -- IMG TOO BIG */
 width: 100%;
 /* max-width: 600px; */

}

/* text deets: */
.meme-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font: 40px arial, sans-serif;
  color: white;
  max-width: 100%;



}

.top-text {

  top: 5%;


}

.bot-text {

  bottom: 5%;


}

.closebox {
  font: 80px red;
  /* display: none; */

  /* test */
  color: red;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

/* .meme:hover > .closebox {
  display: inline;
  color: red;
  position: absolute;
  cursor: pointer;
  /* top: 5px;
  right: 5px; */

} */

#meme-zone {
 width: 100%;
 display: block;

}
