body {
  background-color: palegreen;
}

input {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 20px;
  padding-left: 5px;
}

input[type=color] {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

button {
  margin-left: 70%;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  background-color: palegreen;
  font: 20px monospace;
  cursor: pointer;
}

fieldset {
  padding: 20px 60px;
  border: 3px solid gray;
  border-radius: 60px;
  background-color: aqua;
  margin-bottom: 20px;
}

label {
  font: 20px impact, sans-serif;
  margin-right: 30px;
}


legend {
  border: 0;
  font: 80px luminari, fantasy;
}

.grid {
  display: grid;
  grid-template-columns: max-content 1fr;

}



.meme {
  width: 800px;
  position: relative;

  margin: 60px, auto;
  display: flex;
  justify-content: center;

}

img {
  margin: 0 auto;

}

/* text deets: */
.meme-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font: 40px impact, sans-serif;
  text-align: center;
  color: white;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;

  max-width: 100%;



}

.top-text {

  top: 5%;


}

.bot-text {

  bottom: 5%;


}

/* for empty and error messages: */
.zone-text {
  font: 100px impact, sans-serif;
  color: rgb(111, 218, 111);
}

.closebox {
  font: 80px red;
  color: red;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.gone {
  display: none;
}

#meme-zone {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
